body{
    line-height: 1.7;
}
body, html{
    height: 100%;
}
/*===================
| Mainmenu Area Css|
=====================*/
.mainmenu ul li a{
    color: #fff;
}
.mainmenu li:last-child ul{
    left: auto;
    right: 0;
}
.mainmenu li:hover li:hover > a{
    background-color: #24d5a1;
    color: #fff;
}
.menu-cta span{
    color: #24d5a1;
}
/*===================
|  Carousel  css|
====================*/
.single-carousel{
    height: 300px;
}
/*========================
| Website Checker Form css|
=========================*/
.website-checker-form input{
    margin-right: 2%;
    width: 26%;
}
.website-checker-form input[type="submit"]{
    margin-right: 0;
    width: 13%;
}
/*========================
| Single Service Area Css|
=========================*/
.single-service-item{
    margin-bottom: 0;
}
.single-service-item:hover{
    border-color: #06d6a0;
}
.single-service-item:hover h4, .single-service-item:hover i, .single-service-item:hover .service-readmore-btn {
    color: #06d6a0;
}
/*=====================
| Case Study Area Css|
======================*/
