@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* Base CSS */

* {
	
  margin: 0px;
	
  padding: 0px;
	
  list-style: none;
 }



a {
	
  text-decoration: none;
	
  outline: none;
 }



a:hover, a:focus, input, textarea {
	
  text-decoration: none;
	
  outline: none;
 }



h1, h2, h3, h4, h5, h6 {
	
  margin: 0px;
	
  padding: 0px;
 }



img {
	
  max-width: 100%;
 }



ol, ul {
	
  margin: 0px;
	
  padding: 0px;
 }



select {
	
  -moz-appearance: none;
	
  -ms-appearance: none;
	
  -o-appearance: none;
	
  -webkit-appearance: none;
 }



html,
body {
	
  height: 100%;
 }


body {
	
  font-family: 'Roboto', sans-serif;
	
  font-size: 16px;
	
  line-height: 30px;
	
  color: #000;
	
  background: #fff;
	
  font-weight: 400;
 }


.header_top{
    background: #000;
    color: #fff;
}
.header_top a{
    color: #fff;
}
.mainmenu ul li{
    display: inline;
}
.mainmenu ul li a{
    color: #000;
    display: inline-block;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: .3s;
}
.mainmenu ul li:hover a{
    background: #f2f2f2;
}
.hidden-xs span{
    background: red;
    padding: 4px;
    font-size: 12px;
    border-radius: 50%;
}

.hero_slider_bg{
    height: 680px;
    background: #7e9fe5;
    padding-top: 150px;
    position: relative;
}
.hero_slider_bg h1{
    margin: 20px 0;
}
.hero_text{
    margin-top: 80px;
}
.hero_text ol{
    list-style: armenian;
}
.hero_text li{
    display: inline;
}
.website_text h2{
    margin-bottom: 30px;
}
.website_text2{
    margin-top: 100px;
}
.common_btn a{
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 15px;
}


/*=== Animation ====*/
.website2-img{
    position: relative;
    z-index: 2;
    opacity: 1;
}

.small-img-1, .small-img-1-1, .small-img-2, .small-img-3, .small-img-4, .small-img-5, .small-img-6, .small-img-7, .small-img-8, .small-img-9, .small-img-10, .small-img-11, .small-img-12, .small-img-13, .small-img-14, .small-img-15, .small-img-16, .small-img-17, .small-img-18, .small-img-19{
    position: absolute;
    z-index: 3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.small-img-1{
    animation-name: small-img-1;
    left: 0%;
    bottom: 10%;
}
.small-img-1-1{
    animation-name: small-img-1-1;
    left: 4%;
    bottom: 24%;
}

.small-img-2{
    animation-name: small-img-2;
    left: -1%;
    bottom: 38%;
}
.small-img-3{
    animation-name: small-img-3;
    left: 0%;
    bottom: 54%;
}
.small-img-4{
    animation-name: small-img-4;
    left: 4%;
    bottom: 72%;
}
.small-img-5{
    animation-name: small-img-5;
    left: 14%;
    bottom: 70%;
}
.small-img-6{
    animation-name: small-img-6;
    left: 25%;
    bottom: 72%;
}
.small-img-7{
    animation-name: small-img-7;
    left: 15%;
    bottom: 53%;
}
.small-img-8{
    animation-name: small-img-8;
    left: 33%;
    bottom: 55%;
}
.small-img-9{
    animation-name: small-img-9;
    left: 41%;
    bottom: 72%;
}
.small-img-10{
    animation-name: small-img-10;
    left: 46%;
    bottom: 59%;
}
.small-img-11{
    animation-name: small-img-11;
    left: 56%;
    bottom: 68%;
}
.small-img-12{
    animation-name: small-img-12;
    left: 73%;
    bottom: 65%;
}
.small-img-13{
    animation-name: small-img-13;
    left: 61%;
    bottom: 52%;
}
.small-img-14{
    animation-name: small-img-14;
    left: 87%;
    bottom: 60%;
}
.small-img-15{
    animation-name: small-img-15;
    left: 78%;
    bottom: 70%;
}
.small-img-16{
    animation-name: small-img-16;
    left: 90%;
    bottom: 42%;
}
.small-img-17{
    animation-name: small-img-17;
    left: 84%;
    bottom: 33%;
}
.small-img-18{
    animation-name: small-img-18;
    left: 90%;
    bottom: 21%;
}
.small-img-19{
    animation-name: small-img-19;
    left: 90%;
    bottom: 10%;
}

@keyframes small-img-1{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 0%;
        bottom: 10%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-1-1{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 4%;
        bottom: 24%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-2{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 0%;
        bottom: 38%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-3{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 0%;
        bottom: 54%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-4{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 4%;
        bottom: 72%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-5{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 14%;
        bottom: 70%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-6{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 25%;
        bottom: 72%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-7{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 15%;
        bottom: 53%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-8{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 33%;
        bottom: 55%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-9{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 41%;
        bottom: 72%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-10{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 46%;
        bottom: 59%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-11{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 56%;
        bottom: 68%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-12{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 73%;
        bottom: 65%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-13{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 61%;
        bottom: 52%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-14{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 87%;
        bottom: 60%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-15{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 78%;
        bottom: 70%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-16{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 90%;
        bottom: 42%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-17{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 84%;
        bottom: 33%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-18{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 90%;
        bottom: 21%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes small-img-19{
    0%{
        left: 45%;
        bottom: 10%;
        z-index: -1;
    }
    90%{
        left: 90%;
        bottom: 10%;
        z-index: 3;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*---------------------*/
.website1{
    position: relative;
    z-index: 2;
}
.website1-plane{
    position: absolute;
    top: 60px;
    left: 24%;
    z-index: 1;
    animation: website1-plane 2s infinite linear;
}
@keyframes website1-plane{
    0%{
        top: 60px;
    }
    90%{
        top: -100px;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/*Hero Animation*/
 
.hero-cloud, .hero-cloud-2{
    position: absolute;
    font-size: 100px;
    color: #fff;
    box-shadow: -4px 400px 120px #333;
    top: 120px;
    left: 0%;
    z-index: 1;
    animation: hero-cloud 8s infinite linear;
    
}
.hero-cloud-2{
    left: 100%;
    animation-name: hero-cloud-2;
}

@keyframes hero-cloud{
    0%{
        left: 20%;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 20%;
    }
}
@keyframes hero-cloud-2{
    0%{
        left: 80%;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 80%;
    }
}




