h3{
    font-size: 22px;
}
/*========================
| Input [All] + btn Css|
=========================*/
.boxed-btn, input[type="submit"], button[type="submit"] {
    background-color: #24d5a1;
}
/*=====================
|  Header Area CSS    |
======================*/
.mainmenu ul li:hover a, .mainmenu ul li.active a, .widget ul li:hover a{
    color: #24d5a1;
}
/*==============
| Hero Area  Css|
================*/
.hero-area{
    background-image: url(../img/hero-bg-2.png);
    background-color: #359af3;
    background-size: cover;
    background-position: center;
    color: #fff;
    line-height: 1.8;
    padding: 80px 0;
}
.hero-area h1{
    color: #fff;
    font-size: 45px;
    margin-top: 110px;
}
/*========================
| Services Area  Css|
=========================*/
.service-icon{
    color: #2d9af7;
    font-size: 30px;
    margin-bottom: 25px;
}
/*========================
| CTA Area  Css|
=========================*/
.cta-area.theme-4 h1, .cta-area.theme-5 h1, .broudcumb-area h1 {
    font-weight: 700
}
/*========================
| Testimonial Area Css|
=========================*/
.testimonial-area{
    padding-top: 70px;
}
.single-testimonial-item{
    padding: 75px;
}
.tesimonial-content{
    font-size: 18px;
}
/*========================
| Pricing Areal  Css|
=========================*/
.single-pricing-box{
    padding: 0;
    border-color: #f3f3f3;
}
.single-pricing-box:hover{
    border-color: #f3f3f3;
}
.pricing-heading{
    background-color: #fbfbfb;
    border-bottom: 0;
    padding: 30px 0;
}
.single-pricing-box:hover h4, .single-pricing-box:hover p{
    color: #22bffb;
    
}
.pricing-count{
    color: #22bffb;
    color: -moz-linear-gradient(#22bffb 0%, #4783e8 100%);
    color: -webkit-linear-gradient(#22bffb 0%, #4783e8 100%);
    color: -o-linear-gradient(#22bffb 0%, #4783e8 100%);
    color: linear-gradient(#22bffb 0%, #4783e8 100%);
    filter: progid:DImageTransform.Microsoft.gradient( startColorstr='#22bffb', endColorstr='#4783e8', GradientType=0 );
}
/*========================
| Social Links  Css|
=========================*/
.social-links a:hover, .social-links a:hover i {
  color: #24d5a1;
}
/*========================
| Scroll to Top  Css|
=========================*/
.gotoup {
    background-color: #24d5a1;
    color: #fff;
}