/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    line-height: 1.8;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
a:hover { text-decoration: none }

.geometria-title{
    padding-bottom: 60px;
    text-align: center;
}
.geometria-title p span{
    color: #0f81f8;
    font-weight: 700;
}
.geometria-title.white h2 {
    color: #fff;
}
.geometria-title h2{
    position: relative;
    display: inline-block;
    margin-bottom: 35px;
    color: #0f81f8;
}
.geometria-title.white h2:after{
    background: #fff;
}
.geometria-title.white h2:before{
    background-image: url(../img/title-points-blue.jpg);
}
.geometria-title h2:after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    height: 5px;
    width: 100%;
    background: #0f81f8;
    z-index: 1;
}
.geometria-title h2:before{
    position: absolute;
    content: "";
    bottom: -12px;
    left: 60%;
    height: 8px;
    width: 100%;
    background: url(../img/title-points.jpg) no-repeat scroll 0 0;
    z-index: 2;
}
/*offcanvus Menu*/
.offcanvus-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #08294c;;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: .3s;
}
.offcanvus-overlay.active{
    opacity: .6;
    visibility: visible;
    z-index: 98;
}
.show-menu{
    position: absolute;
    top: 40px;
    left: 70px;
    cursor: pointer;
    z-index: 100;
}
.close-menu{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    display: inline-block;
    cursor: pointer;
}
.offvcanvus-menu .logo{
    position: absolute;
    top: 50px;
    margin-left: 55px;
}
.offvcanvus-menu{
    position: fixed;
    top: 0;
    left: -310px;
    width: 300px;
    height: 100%;
    background: #08294c;
    z-index: -1;
    color: #fff;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.offvcanvus-menu.active{
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 99;
}
.offvcanvus-menu ul{
    margin-top: 150px;
    list-style: none;
    margin-right: 30px;
}
.offvcanvus-menu ul li{
    display: block;
    border-bottom: 1px solid #4d4d4d;
}
.offvcanvus-menu ul li a{
    display: block;
    color: #fff;
    padding: 10px 20px;
}

            .geometria-hero-area{
                height: 600px;
                background-image: url(../img/hero-bg.jpg);
                background-repeat: no-repeat;
                width: 100%;
                display: table;
            }
            .hero-cell{
                display: table-cell;
                vertical-align: middle;
            }
            .geometria-hero-area .boxed-btn-white{
                margin-right: 10px;
                background: none;
                text-shadow: 0 5px 5px #ddd;
                color: #0f81f8;
                border: 1px solid #0f81f8;
                box-shadow: 0 6px 5px #ddd;
            }
            
            .geometria-hero-area .boxed-btn-white:hover{
                background: #0f81f8;
                text-shadow: none;
            }
.hero-content{
    line-height: 2.4;
}
.hero-content h1{
    font-size: 50px;
}
            .boxed-btn{
                color: #fff;
                background: #0f81f8;
                border: 1px solid #0f81f8;
                box-shadow: 0 6px 5px #ddd;
            }
            .boxed-btn, .boxed-btn-white{
                border-radius: 30px;
                padding: 9px 0;
                width: 150px;
                display: inline-block;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
                transition: .3s;   
            }
            .boxed-btn:hover{
                color: #0f81f8;
                background: none;
                text-shadow: 0 5px 5px #ddd;
            }
            .boxed-btn-white{
                margin-right: 10px;
                background: #fff;
                color: #0f81f8;
                border: 1px solid #fff;
            }
            .boxed-btn-white:hover{
                color: #fff;
                background: none;
                border: 1px solid #fff;
            }
            .geometria-content-block{
                padding: 110px 0;
            }
.single-step{
    padding: 80px 35px;
    position: relative;
}
.single-step p{
    margin-top: 20px;
}

.geometria-vdo-area{
    height: 560px;
    padding: 70px 0;
    background: #0f81f8;
    color: #fff;
    
}
.geometria-vdo-player{
    position: relative;
    margin-top: 25px;
}
.vdo-play-btn{
    color: #fff;
    background: #0f81f8;
    height: 60px;
    width: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 22px;
    position: absolute;
    line-height: 60px;
    border-radius: 50%;
    padding-left: 5px;
}

.geometria-vdo-text{
    padding: 0 5px;
    padding-top: 30%;
}
.geometria-partner-area{
    height: 110px;
}
.partner-carousel{
    margin-left: -36px;
    margin-top: 40px;
}
.sinlge-partner{
    display: inline;
    padding: 10px 36px;
}
.gray-bg{
    background-color: #fcfcfc;
}
.testimonial-nav{
    border: none;
}
.testimonial-tab .tab-content{
    width: 70%;
    border-radius: 6px;
    float: left;
    position: relative;
    background: #fff;
}

.testimonial-tab .tab-content span{
    padding-right: 10px;
    padding-bottom: 10px;
    color: #0f81f8;
    display: inline-block;
}
.testimonial-nav{
    float: right;
    width: 30%;
    padding: 0;
    margin: 0;
}
.testimonial-nav li{
    float: none;
}
.testimonial-autor{
    position: relative;
    padding-left: 120px;
}
.testimonial-autor p{
    color: #000;
}
div.testimonial-autor{
    margin-bottom: 50px;
}
div.testimonial-autor h3{
    margin-bottom: 0px;
    padding-top: 25px;
}
li.testimonial-autor h4{
    margin-bottom: 0px;
    padding-top: 12px;
    color: #000;
}
li.testimonial-autor{
    margin-top: 5px; 
    opacity: .3;
    color: #000;
    position: relative;
}
li.testimonial-autor:before{
    top: 30%;
    left: -4%;
    height: 50px;
    width: 20px;
    background: #fff;
    transform: skewX(-54deg) rotate(105deg);
    box-shadow: -4px -4px 5px #ddd;
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0;
}
li.testimonial-autor.active, li.testimonial-autor.active:before{
    opacity: 1;
}
li.testimonial-autor img{
    position: absolute;
    left: -60px;
    width: 60px;
}
div.testimonial-autor img{
    position: absolute;
    left: 0px;
    width: 90px;
}
.testimonial-tab .tab-content{
    box-shadow: 0 0 5px #ddd;
    padding: 50px;
}
li.testimonial-autor.active>a, li.testimonial-autor.active>a:focus, li.testimonial-autor.active>a:hover{
    border: none;
}

.team-member{
    background: #fff;
    height: 350px;
    box-shadow: 0 0 10px #ddd;
    padding: 28px;
    position: relative;
    border-radius: 5px;
}
.team-member .social-links{
    position: absolute;
    bottom: 20px;
}
.team-member-heading{
    text-align: center;
}
.team-member-heading img{
    border-radius: 50%;
    width: 60px;
}
.team-member-heading h4{
    margin: 25px 0;
}
.team-member-heading h4 span{
    display: block;
    font-weight: 300;
    margin-top: 10px;
}
.contact-us-area{
    background: #0f81f8;
    padding-top: 60px;
    padding-bottom: 80px;
    color: #fff;
}
.contact-form{
    padding: 0 30px;
}
.contact-us-area input[type="text"], .contact-us-area input[type="email"]{
    height: 40px;
}
.contact-us-area input[type="text"], .contact-us-area input[type="email"], .contact-us-area textarea{
    width: 100%;
    border: none;
    background: #0f81f8;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.contact-us-area input[type="text"]:focus, .contact-us-area input[type="email"]:focus, .contact-us-area textarea:focus{
    border: 1px solid #fff;
}
.sitefooter{
    padding: 50px 0;
    background: #08294c;
    color: #fff;
}

.sitefooter .footer-logo{
    margin-bottom: 80px;
}
.sitefooter ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitefooter ul li{
    display: block;
    margin-bottom: 20px;
}
.sitefooter ul li a{
    display: inline-block;
    color: #5d93cc;
    font-weight: 700;
}
.sitefooter ul.social-links{
    margin-top: 25%;   
}
ul.social-links{
    padding: 0;
    margin: 0;
}
ul.social-links li{
    display: inline;
    margin-right: 10px;
}
.sitefooter ul.social-links li a{
    color: #08294c;
    background: #48627b;
}
ul.social-links li a{
    display: inline-block;
    color: #fff;
    background: #dce5e9;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
}
ul.social-links li a i{
    font-size: 10px;
    display: block;
    line-height: 20px;
}

