/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html, body {
    height: 100%;
}
body {
    overflow-x: hidden;
}
a:hover { text-decoration: none }

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h2.section-title{
    padding: 30px 0;
}


/*Text Animaion One*/

    .text-animate-1{
        height: 500px;
        background: #5d2686;
    }
    .text-animate-1 h2.section-title{
        color: deepskyblue;
    }
    .text-animate-1 ul{
        list-style: none;
        margin-top: 100px;
    }
    .text-animate-1 ul li{
        display: inline-block;
        margin-right: 5px;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 5em;
        color: #70e1e2;
        opacity: 1;
        transition: all 2.5s ease;
    }
    .text-animate-1 ul li:last-child{
        margin-right: 0;
    }
    .text-animate-1 ul.hiddenz{
        opacity: 0;
    }
    .text-animate-1 ul.hiddenz li:nth-child(1){ transform: translateX(-200px) translateY(-200px);}
    .text-animate-1 ul.hiddenz li:nth-child(2){ transform: translateX(20px) translateY(100px);}
    .text-animate-1 ul.hiddenz li:nth-child(3){ transform: translateX(-150px) translateY(-80px);}
    .text-animate-1 ul.hiddenz li:nth-child(4){ transform: translateX(10px) translateY(200px);}
    .text-animate-1 ul.hiddenz li:nth-child(5){ transform: translateX(20px) translateY(-20px);}
    .text-animate-1 ul.hiddenz li:nth-child(6){ transform: translateX(30px) translateY(200px);}
    .text-animate-1 ul.hiddenz li:nth-child(7){ transform: translateX(20px) translateY(100px);}
    .text-animate-1 ul.hiddenz li:nth-child(8){ transform: translateX(-150px) translateY(-80px);}
    .text-animate-1 ul.hiddenz li:nth-child(9){ transform: translateX(10px) translateY(-200px);}


/*Text Animaion Two > Jumpping CSS*/


.jumping{
    background: #907a7a;
    height: 200px;
    padding: 0 270px;
}
.jumping h1{
    margin: 0;
    padding: 0;

} 

.jumping h1 span{
    color: #262626;
    background: #fff;
    padding: 10px 20px;
    font-family: arial;
    display: table-cell;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3) , 0 5px 0 #ccc;
    animation: animate .5s infinite;
}
@keyframes animate{
    0%{
       transform: translateY(0px);
    }50%{
        transform: translateY(-20px);
    }100%{
        transform: translateY(0px);
    }
}
.jumping h1 span:nth-child(1){animation-delay: .2s;}
.jumping h1 span:nth-child(2){animation-delay: .4s;}
.jumping h1 span:nth-child(3){animation-delay: .6s;}
.jumping h1 span:nth-child(4){animation-delay: .8s;}
.jumping h1 span:nth-child(5){animation-delay: 1s;}
.jumping h1 span:nth-child(6){animation-delay: 1.2s;}
.jumping h1 span:nth-child(7){animation-delay: 1.4s;}
.jumping h1 span:nth-child(8){animation-delay: 1.6s;}
.jumping h1 span:nth-child(9){animation-delay: 1.8s;}
.jumping h1 span:nth-child(10){animation-delay: 2s;}



/* Text Animation Three > loading text*/
    .loading{
        background: #e0e0e0;
        padding-bottom: 100px;
    }
    .loading-text{
    display: flex;
        transform: translateX(45%);
        margin-left: -300px;
    }
    .loading-text li{
        display: inline-block;
        font-family: 'arial';
        color: #484848;
        font-weight: 700;
        font-size: 5em;
        letter-spacing: 15px;
        animation: loading 1.45s linear infinite;
    }
    @keyframes loading{
        0%{
            color: #484848;
            text-shadow: none;
        }
        90%{
            color: #484848;
            text-shadow: none;
        }
        100%{
            color: #fff900;
            text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
        }
    }
    .loading-text li:nth-child(1){animation-delay: .2s;}
    .loading-text li:nth-child(2){animation-delay: .4s;}
    .loading-text li:nth-child(3){animation-delay: .6s;}
    .loading-text li:nth-child(4){animation-delay: .8s;}
    .loading-text li:nth-child(5){animation-delay: 1s;}
    .loading-text li:nth-child(6){animation-delay: 1.2s;}
    .loading-text li:nth-child(7){animation-delay: 1.4s;}





















